<main class="pb-5 mb-4">
  <header class="row bg-primary mx-0 g-0 p-2">
    <div class="col-auto d-flex flex-colum justify-content-center">
      <%= link_to categories_path do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          fill="white"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
          />
        </svg>
      <% end %>
    </div>
    <div class="col">
      <h1 class="text-center text-white mb-0 h4">
        PURCHASES -
        <%= @category&.name || 'All' %>
        ($<%= total_amount(@purchases) %>)
      </h1>
    </div>
    <div class="col-auto d-flex flex-colum justify-content-center"></div>
  </header>
  <section class="container pt-3">
    <% @purchases.each do |purchase| %>
      <%= render(purchase, category: @category || purchase.categories.first) %>
    <% end %>
  </section>
</main>
<div class="p-3 bg-secondary fixed-bottom">
  <%= link_to "ADD NEW PURCHASE", new_purchase_path(category_id: @category&.id), class: "btn btn-secondary border-white w-100" %>
</div>
