<p style="color: green"><%= notice %></p>

<%= render @purchase_category %>

<div>
  <%= link_to "Edit this purchase category", edit_purchase_category_path(@purchase_category) %> |
  <%= link_to "Back to purchase categories", purchase_categories_path %>

  <%= button_to "Destroy this purchase category", @purchase_category, method: :delete %>
</div>
