<!DOCTYPE html>
<html>
  <head>
    <title>SmartSpender</title>
    <meta
      name="description"
      property="og:description"
      content="Mobile web application where you can manage your budget: you have a list of purchases associated with a category, so that you can see how much money you spent and on what."
    />
    <meta
      name="image"
      property="og:image"
      content="https://github.com/dicodiaz/SmartSpender/blob/develop/app_screenshot_mobile.png?raw=true"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <% flash.each do |key, message| %>
      <div
        class="alert <%= flash_class(key) %> alert-dismissible fade show text-center fixed-top"
        role="alert"
      >
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
